.header-conatiner{
    height: 64px;
    background-color: #eee;
    box-shadow: 0px 2px 2px #eee;
    box-sizing: border-box;
    padding: 12px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    .header-conatiner-row{
        margin: 0px;
        .header-conatiner-col{
            padding: 0px;
        }
    }
    .header-left-col{
        padding: 0px;
    }
    .header-right-col{
        padding: 0px;
    }
    .profile-btn{
        .user-avatar{
            img{
                height: 20px;
                width: 20px;
                position: relative;
                top: -2px;
                border-radius: 50%;
            }
        }
    }
}