<div class="d-flex justify-content-between align-items-center header-conatiner">
    <div class="header-left-col">
        <div class="d-flex align-items-center">
            <a class="navbar-brand brand-logo" href="/projects"></a>
        </div>
    </div>
    <div class="header-right-col">
        <div class="btn-group profile-btn">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="user-avatar"><img [src]="pageDetails?.appDetails?.userAvtar" alt=""></span>
              {{pageDetails?.appDetails?.userName}}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Action 1</button>
              <button class="dropdown-item" type="button">Action 2</button>
              <button class="dropdown-item" type="button">Action 3</button>
            </div>
        </div>
    </div>
</div>