.booking-placed-conatiner{
    padding: 64px 0px 0px 0px;
    .booking-placed-row{
        margin: 0px;
        .booking-placed-col{
            padding: 0px 12px;
            .title-1{
                padding: 12px 0px;
            }
        }
    }
}