<div class="container-fluid plots-conatiner">
    <div class="row plots-row">
        <div class="offset-md-1 col-md-10 col-12 plots-col">
            <p class="title-1">
                {{detailsPage?.appDetails?.selectedProject?.projectName}} / 
                {{detailsPage?.appDetails?.selectedPlot?.plotName}}
            </p>
            <div class="row detail-row">
                <div class="col-12 col-md-8 detail-col">
                    <div class="row plot-card-row">
                        <div class="col-12 plot-card-col">
                            <div class="d-flex flex-row align-items-stretch plot-row">
                                <div class="left-col">
                                    <img [src]="detailsPage?.appDetails?.selectedPlot?.plotImg" alt="img">
                                </div>
                                <div class="right-col">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="lable">Plot Name</div>
                                            <div class="value">{{detailsPage?.appDetails?.selectedPlot?.plotName}}</div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="lable">Unit</div>
                                            <div class="value">{{detailsPage?.appDetails?.selectedPlot?.unit}}</div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="lable">Area</div>
                                            <div class="value">{{detailsPage?.appDetails?.selectedPlot?.area}}</div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="lable">Price</div>
                                            <div class="value">
                                                ₹  {{detailsPage?.appDetails?.selectedPlot?.price}} 
                                                {{detailsPage?.appDetails?.selectedPlot?.priceUnit}}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="lable">Property Type</div>
                                            <div class="value">{{detailsPage?.appDetails?.selectedPlot?.propertyType}}</div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="lable">Launched Date</div>
                                            <div class="value">{{detailsPage?.appDetails?.selectedPlot?.launchedDate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 detail-col">
                    <div class="card order-summary-card">
                        <div class="card-body">
                            <h5 class="card-title-1">Price Summary</h5>
                            <p class="card-title-2">This is total prce include tax.</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>Price in ( {{detailsPage?.appDetails?.selectedPlot?.priceUnit}} )</div>
                                    <div>₹ {{detailsPage?.appDetails?.selectedPlot?.price | number : '.2-2'}}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>Tax</div>
                                    <div>₹ {{detailsPage?.appDetails?.selectedPlot?.tax | number : '.2-2'}}</div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>Total in ( {{detailsPage?.appDetails?.selectedPlot?.priceUnit}} )</div>
                                    <div>₹ {{detailsPage?.appDetails?.selectedPlot?.total | number : '.2-2'}}</div>
                                </li>
                            </ul>
                            <button (click)="paymentPage()" class="btn btn-primary place-order-btn">PAY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row detail-row">
                <div class="col-12 col-md-8 detail-col">
                    <div class="title-1">Amenities</div>
                    <div class="amenities-wrapper">
                        <div 
                            *ngFor="let amenety of detailsPage?.appDetails?.selectedPlot?.ameneties"
                            class="amenities">
                            <img [src]="amenety.image" alt="img">
                            <div class="lable">{{amenety.name}}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>