.error-container{
    padding: 64px 0px 0px 0px;
    .error-row{
        margin: 0px;
        .error-col{
            padding: 20px;
            .error-actions{
                padding-top: 20px;
            }
        }
    }
}